@font-face {
    font-family: 'LexendaDeca';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url('~@/assets/fonts/LexendDeca-Thin.ttf') format('truetype');
}
@font-face {
    font-family: 'LexendaDeca';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url('~@/assets/fonts/LexendDeca-ExtraLight.ttf') format('truetype');
}
@font-face {
    font-family: 'LexendaDeca';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('~@/assets/fonts/LexendDeca-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'LexendaDeca';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('~@/assets/fonts/LexendDeca-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'LexendaDeca';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('~@/assets/fonts/LexendDeca-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'LexendaDeca';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('~@/assets/fonts/LexendDeca-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: 'LexendaDeca';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('~@/assets/fonts/LexendDeca-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'LexendaDeca';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url('~@/assets/fonts/LexendDeca-ExtraBold.ttf') format('truetype');
}
@font-face {
    font-family: 'LexendaDeca';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url('~@/assets/fonts/LexendDeca-Black.ttf') format('truetype');
}